<div id="wrapper">
  <div class="allcont">
    <app-header></app-header>

    <div class="basicrow mbott">
      <div class="container">
        <div class="fulltitle m-top-i f-btitle">
          <img width="100%" class="userimgicon" src="../../assets/images/usersvicon.png"> Detalle del Suscriptor
        </div>

        <div class="basicrow m-top">
          <div class="autowcont mbott">
            <div class="basicrow msidespad">
              <div class="b-title">
                <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                  <div class="tabcell">
                    Equipo
                  </div>
                </div>
              </div>
            </div>

            <div class="basicrow msidespad roboto-r m-bott f-reg f-black">
              <div class="device-i roboto-b text-center">
                <img width="100%" class="devimg" src="../../assets/images/phnimgdef.jpg">

                GALAXY S5 - G900M - 4GLTE
              </div>

              <div class="device-i middle">
                <div class="userinfo full">
                  <div class="basicrow f-black roboto-b f-bmed">
                    Detalle del Equipo
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      Fecha de Adquisici&oacute;n
                    </div>

                    <div class="autorow roboto-b pull-right">
                      09/12/2015
                    </div>
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      IMEI
                    </div>

                    <div class="autorow roboto-b pull-right">
                      XXXXXXXXXXXXXXXXX
                    </div>
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      SIM CARD
                    </div>

                    <div class="autorow roboto-b pull-right">
                      XXXXXXXXXXXXXXXXX
                    </div>
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      Garant&iacute;a hasta
                    </div>

                    <div class="autorow roboto-b pull-right">
                      09/12/2015
                    </div>
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      Tecnolog&iacute;a
                    </div>

                    <div class="autorow roboto-b pull-right">
                      3G
                    </div>
                  </div>
                </div>
              </div>

              <div class="device-i last roboto-r text-center">
                <div class="basicrow m-top-u roboto-b">
                  Equipos a Plazos
                </div>

                <div class="basicrow roboto-m f-semi f-red">
                  &#36;29.99
                </div>

                <div class="basicrow roboto-b f-mgray">
                  Pagos restantes: 20
                </div>

                <div class="basicrow">
                  <div class="devbtncont">
                    <div class="basicrow">
                      <a class="btns red vcenter">
														<span class="tabcell">
															Cambio de Equipo&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
														</span>
                      </a>
                    </div>

                    <div class="basicrow m-top-u text-left">
                      <a class="linkdefs">Reparaci&oacute;n de equipo&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="autowcont mbott">
            <div class="basicrow msidespad">
              <div class="b-title">
                <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                  <div class="tabcell">
                    Plan
                  </div>
                </div>
              </div>
            </div>

            <div class="basicrow msidespad roboto-r m-bott f-reg f-black">
              <div class="device-ii firsth roboto-b">
                <div class="userinfo full">
                  <div class="basicrow f-black roboto-b f-bmed">
                    Detalle del Plan
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      Plan Actual
                    </div>

                    <div class="autorow roboto-b pull-right">
                      &#36;29.99
                    </div>
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      Nombre
                    </div>

                    <div class="autorow roboto-b pull-right">
                      VOZILI+SMS/MMSSILI+500MB
                    </div>
                  </div>
                </div>

                <div class="basicrow m-top">
                  <span class="roboto-b">Descripcion del Plan:</span>

                  <ul class="basicrow normdef f-reg roboto-r">
                    <li class="first">
                      Data Local y USA
                    </li>

                    <li>
                      Minutos a Cualquier Hora en PR
                    </li>

                    <li>
                      SMS / MMS
                    </li>

                    <li>
                      Buz&oacute;n de Voz
                    </li>

                    <li>
                      M&oacute;vil a M&oacute;vil
                    </li>

                    <li>
                      Claro Residencial
                    </li>

                    <li>
                      Llamadas Recibidas Gratis
                    </li>
                  </ul>
                </div>
              </div>

              <div class="device-ii lasth roboto-r">
                <div class="userinfo full">
                  <div class="basicrow f-black roboto-b f-bmed">
                    Servicios Adicionales
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      CeluHogar
                    </div>

                    <div class="autorow roboto-b pull-right">
                      &#36;4.50
                    </div>
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      Serv. Asist. Carretera
                    </div>

                    <div class="autorow roboto-b pull-right">
                      &#36;3.95
                    </div>
                  </div>
                </div>

                <div class="basicrow text-center m-top">
                  <div class="basicrow m-top-u roboto-b">
                    Renta Mensual
                  </div>

                  <div class="basicrow roboto-m f-semi f-red">
                    &#36;38.44
                  </div>

                  <div class="basicrow">
                    <div class="devbtncont">
                      <div class="basicrow">
                        <a class="btns red vcenter">
															<span class="tabcell">
																Cambiar de Plan&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
															</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="autowcont">
            <div class="basicrow msidespad">
              <div class="b-title">
                <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                  <div class="tabcell">
                    Consumo
                  </div>
                </div>
              </div>
            </div>

            <div class="basicrow msidespad roboto-r m-bott f-reg f-black">
              <div class="device-i rpad roboto-b">
                <div class="basicrow f-bmed roboto-b">
                  Data
                </div>

                <div class="basicrow m-top-ii">
                  <div class="basicrow f-mini f-black roboto-r">
                    <span class="roboto-b">Consumo Local:</span><br>
                    Plan Voz, SMS/MMS Local y Data de 500MB
                  </div>

                  <div class="barlinedef">
                    <div class="compfill"></div>
                  </div>

                  <div class="basicrow f-mini f-black roboto-r text-right">
                    357 MB DE 500 MB USADOS
                  </div>
                </div>

                <div class="basicrow m-top">
                  <div class="basicrow f-mini f-black roboto-r">
                    <span class="roboto-b">Data Roaming</span>
                  </div>

                  <div class="barlinedef">
                  </div>

                  <div class="basicrow f-mini f-black roboto-r text-right">
                    0 MB USADOS
                  </div>
                </div>
              </div>

              <div class="device-i middle">
                <div class="userinfo full">
                  <div class="basicrow f-black roboto-b f-bmed">
                    Consumo de Voz
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      Minutos Usados
                    </div>

                    <div class="autorow roboto-b pull-right">
                      1230 Minutos
                    </div>
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      Larga Distancia
                    </div>

                    <div class="autorow roboto-b pull-right">
                      0 Minutos
                    </div>
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      Roaming Voz
                    </div>

                    <div class="autorow roboto-b pull-right">
                      0 Minutos
                    </div>
                  </div>
                </div>
              </div>

              <div class="device-i last roboto-r">
                <div class="userinfo full">
                  <div class="basicrow f-black roboto-b f-bmed">
                    Consumo de Mensajer&iacute;a (SMS/MMS)
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      SMS
                    </div>

                    <div class="autorow roboto-b pull-right">
                      29
                    </div>
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      SMS Premium
                    </div>

                    <div class="autorow roboto-b pull-right">
                      0
                    </div>
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      MMS
                    </div>

                    <div class="autorow roboto-b pull-right">
                      0
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
