<div id="wrapper">
  <div class="allcont">
    <app-header></app-header>

    <div class="basicrow mbott">
      <div class="container">
        <div class="fulltitle m-top-i f-btitle">
          <img width="100%" class="userimgicon" src="../../assets/images/usersvicon.png"> Usuarios y Permisos
        </div>

        <div class="basicrow m-top-i mbott-i text-center">
          <div class="stepsvone">
            <div class="stepautoc first">
              Creaci&oacute;n de Usuario

              <div class="stepcirc text-center">
                <div class="circ-in"></div>
              </div>
            </div>

            <div class="stepautoc on middle">
              Asignaci&oacute;n de Permisos
              <div class="stepcirc">
                <div class="circ-in"></div>
              </div>
            </div>

            <div class="stepautoc last">
              Resumen y Confirmaci&oacute;n
              <div class="stepcirc">
                <div class="circ-in"></div>
              </div>
            </div>

            <div class="stepsline"></div>
          </div>
        </div>

        <div class="basicrow m-top">
          <div class="autowcont m-bott">
            <div class="basicrow msidespad">
              <div class="b-title">
                <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                  <div class="tabcell">
                    Asignaci&oacute;n de Permisos
                  </div>
                </div>
              </div>
            </div>

            <div class="basicrow text-center m-top-u msidespad">
              <div class="userallinfo f-black">
                <div class="phn-nmbr">
                  <div class="basicrow">
                    <img width="100%" class="phn-icon" src="../../assets/images/phn-icon.png">
                  </div>

                  <div class="basicrow m-top-u">
												<span class="roboto-b">
													N&uacute;mero de tel&eacute;fono
												</span><br/>

                    <span class=" f-btitle-i roboto-l">787-123-0000</span>
                  </div>
                </div>

                <div class="userinfo">
                  <div class="redstat">
                    <div class="autorow roboto-r pull-left">
                      Nombre
                    </div>

                    <div class="autorow roboto-b pull-right">
                      Nombre del Usuario
                    </div>
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      Apellido
                    </div>

                    <div class="autorow roboto-b pull-right">
                      Apellido del Usuario
                    </div>
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      Usuario
                    </div>

                    <div class="autorow roboto-b pull-right">
                      username
                    </div>
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      Correo electr&oacute;nico
                    </div>

                    <div class="autorow roboto-b pull-right">
                      emailuser@gmail.com
                    </div>
                  </div>

                  <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">
                      Direcci&oacute;n postal
                    </div>

                    <div class="autorow roboto-b pull-right">
                      PO BOX 100, PR 33334
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="basicrow m-top m-bott msidespad">
              <div class="basicrow topbord">
                <div class="basicrow f-reg f-black m-top-u-i">
                  <div class="basicrow text-justify">
                    <span class="roboto-b f-med">Permisos</span><br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </div>

                  <div class="boxtbl m-top">
                    <div class="tab-tbar">
                      <div class="frwds permit-i rline vcenter">
                        <div class="tabcell">
                          Tipo de Permiso
                        </div>
                      </div>

                      <div class="frwds permit-ii vcenter">
                        <div class="tabcell">
                          Estatus
                        </div>
                      </div>
                    </div>

                    <div class="permit">
                      <div class="tab-cbar">
                        <div class="frwds permit-i rline vcenter">
                          <div class="tabcell">
                            <span class="roboto-b">Manejo de Usuario:</span> Ver detalle de cuenta, planes, tarifas, equipos por suscriptor.
                          </div>
                        </div>

                        <div class="frwds permit-ii vcenter">
                          <div class="tabcell">
                            <div class="autorow"><input type="radio"> Si</div> <div class="autorow"><input type="radio"> No</div>
                          </div>
                        </div>
                      </div>

                      <div class="tab-cbar bg-gray">
                        <div class="frwds permit-i rline vcenter">
                          <div class="tabcell">
                            <span class="roboto-b">Usuario y Permisos:</span> Crear Usuarios, editar, borrar usuarios. Asignaci&oacute;n de roles.
                          </div>
                        </div>

                        <div class="frwds permit-ii vcenter">
                          <div class="tabcell">
                            <div class="autorow"><input type="radio"> Si</div> <div class="autorow"><input type="radio"> No</div>
                          </div>
                        </div>
                      </div>

                      <div class="tab-cbar">
                        <div class="frwds permit-i rline vcenter">
                          <div class="tabcell">
                            <span class="roboto-b">Pagos y Facturas:</span> Ver detalles de facturas, hist&oacute;rico de pagos, pagar factura.
                          </div>
                        </div>

                        <div class="frwds permit-ii vcenter">
                          <div class="tabcell">
                            <div class="autorow"><input type="radio"> Si</div> <div class="autorow"><input type="radio"> No</div>
                          </div>
                        </div>
                      </div>

                      <div class="tab-cbar bg-gray">
                        <div class="frwds permit-i rline vcenter">
                          <div class="tabcell">
                            <span class="roboto-b">Compra:</span> Compra de paquete de datos y data roaming, cambio de plan, cambio de equipo, agregar servicios de valor agregado.
                          </div>
                        </div>

                        <div class="frwds permit-ii vcenter">
                          <div class="tabcell">
                            <div class="autorow"><input type="radio"> Si</div> <div class="autorow"><input type="radio"> No</div>
                          </div>
                        </div>
                      </div>

                      <div class="tab-cbar">
                        <div class="frwds permit-i rline vcenter">
                          <div class="tabcell">
                            <span class="roboto-b">Perfil:</span> Ver detalles de direcci&oacute;n p&oacute;stal y contacto de la cuenta. Cambiar n&uacute;mero de tel&eacute;fono de contacto, correo electr&oacute;nico.
                          </div>
                        </div>

                        <div class="frwds permit-ii vcenter">
                          <div class="tabcell">
                            <div class="autorow"><input type="radio"> Si</div> <div class="autorow"><input type="radio"> No</div>
                          </div>
                        </div>
                      </div>

                      <div class="tab-cbar bg-gray">
                        <div class="frwds permit-i rline vcenter">
                          <div class="tabcell">
                            <span class="roboto-b">Preferencia y Notificaciones:</span> Cambio de preferencias de notificaci&oacute;n de factura, consumo de data y promociones.
                          </div>
                        </div>

                        <div class="frwds permit-ii vcenter">
                          <div class="tabcell">
                            <div class="autorow"><input type="radio"> Si</div> <div class="autorow"><input type="radio"> No</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="basicrow m-bott msidespad">
              <div class="basicrow topbord">
                <div class="basicrow m-top-u-i">
                  <a (click)="goTo('resumenyconfirmacion')" class="btns def-i red pull-right vcenter">
												<span class="tabcell">
													Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
												</span>
                  </a>

                  <a (click)="goTo('usuariosypermisos')" class="btns def-i gray pull-left vcenter">
												<span class="tabcell">
													Cancelar
												</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
