<div id="wrapper">
  <div class="allcont">
    <app-header></app-header>

    <div class="basicrow mbott">
      <div class="container">
        <div class="fulltitle m-top-i f-btitle">
          <i class="fa fa-users" aria-hidden="true"></i> Cuentas y Suscriptores
        </div>

        <div class="basicrow m-top">
          <div class="autowcont m-bott">
            <div class="basicrow msidespad">
              <div class="b-title noline">
                <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                  <div class="tabcell">
                    Mensajes
                  </div>
                </div>
              </div>
            </div>

            <div class="basicrow">
              <div class="m-lbg">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>

                Su cuenta califica para un upgrade al nuevo iphone 6S.
              </div>

              <div class="m-dbg">
                <i class="fa fa-clock-o" aria-hidden="true"></i>

                Pendiente por aprobaci&oacute;n.
              </div>

              <div class="m-lbg">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>

                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>

              <div class="m-dbg">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>

                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </div>

              <div class="m-lbg">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>

                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>
          </div>

          <div class="new-box visible-xs visible-sm">
            <div class="basicrow msidespad">
              <div class="b-title">
                <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                  <div class="tabcell">
                    Perfil de Cuenta
                  </div>
                </div>
              </div>
            </div>

            <div class="basicrow msidespad m-bott-i f-reg f-black text-left">
              <div class="basicrow roboto-b">
                COMPANY NAME
              </div>

              <div class="basicrow m-top-u">
                <span class="roboto-b">Direcci&oacute;n Postal:</span> Ave. Ponce de Leon<br/>
                Hato Rey AVE. PONCE DE LEON<br/>
                Bayamon, 00956-4621
              </div>

              <div class="basicrow m-top-u">
                <span class="roboto-b">Correo Electr&oacute;nico:</span> company@email.com
              </div>

              <div class="basicrow m-top-u">
                <span class="roboto-b">Tel:</span> 787-771-5072, 787-771-5073
              </div>

              <div class="basicrow m-top-u">
                <a class="linkdefs">Editar Perfil&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>

          <div class="acc-susc">
            <div class="t-acc">
              <div class="tph-opts on">
                <img class="tph-icon" width="100%" src="../../assets/images/tlf-m.png"> <input type="radio" checked> M&oacute;vil
              </div>

              <div class="tph-opts">
                <img class="tph-icon" width="100%" src="../../assets/images/tlf-f.png"> <input type="radio"> Telefon&iacute;a Fija
              </div>
            </div>

            <div class="basicrow allpads">
              <div class="autorow subsc pull-left">
                <label class="label-r">Filtro de Busqueda:</label>

                <a class="linkdefs pull-right c-fltr visible-xs">Limpiar filtro <i class="fa fa-trash" aria-hidden="true"></i></a>

                <div class="basicrow">
                  <select class="sel-f">
                    <option>N&uacute;mero de tel&eacute;fono</option>
                  </select>
                </div>
              </div>

              <div class="autorow srchacc m-left pull-left">
                <a class="linkdefs pull-right c-fltr hidden-xs">Limpiar filtro <i class="fa fa-trash" aria-hidden="true"></i></a>

                <div class="basicrow">
                  <input placeholder="Buscar..." class="inp-f">

                  <a class="btns red srch-i vcenter">
												<span class="tabcell">
													Buscar&nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i>
												</span>
                  </a>
                </div>
              </div>
            </div>

            <div class="basicrow msidespad f-black f-reg">
              <div class="basicrow topbord">
                Listado de cuentas y suscriptores asociados a su usuario:
              </div>
            </div>

            <div class="basicrow m-top">
              <div class="basicrow">
                <div data-toggle="collapse" data-target="#tab" class="digs-box vcenter">
                  <div class="tabcell">
                    <div class="autorow pull-left">
                      <span class="roboto-l">BAN</span> <span class="roboto-m">000000000</span>
                    </div>

                    <div class="autorow pull-right">
                      <i class="fa fa-minus" aria-hidden="true"></i>

                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>


                <div id="tab" class="collapse">
                  <div class="basicrow hidden-xs">
                    <div class="tab-tbar">
                      <div class="frwds rline vcenter">
                        <div class="tabcell">
                          Suscriptor
                        </div>
                      </div>

                      <div class="frwds rline vcenter">
                        <div class="tabcell">
                          Nombre y Apellido
                        </div>
                      </div>

                      <div class="frwds rline vcenter">
                        <div class="tabcell">
                          Perfil / Rol
                        </div>
                      </div>

                      <div class="frwds vcenter">
                        <div class="tabcell">
                          Estatus
                        </div>
                      </div>
                    </div>

                    <div class="basicrow">
                      <div class="tab-cbar">
                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            <a class="linkdefs">787-777-1231&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                          </div>
                        </div>

                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            Nombre + Apellido 01
                          </div>
                        </div>

                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            Principal
                          </div>
                        </div>

                        <div class="frwds vcenter">
                          <div class="tabcell">
                            Activo
                          </div>
                        </div>
                      </div>

                      <div class="tab-cbar bg-gray">
                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            <a class="linkdefs">787-777-1231&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                          </div>
                        </div>

                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            Nombre + Apellido 02
                          </div>
                        </div>

                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            Administrador
                          </div>
                        </div>

                        <div class="frwds vcenter">
                          <div class="tabcell">
                            Activo
                          </div>
                        </div>
                      </div>

                      <div class="tab-cbar">
                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            <a class="linkdefs">787-777-1231&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                          </div>
                        </div>

                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            Nombre + Apellido 03
                          </div>
                        </div>

                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            Usuario
                          </div>
                        </div>

                        <div class="frwds vcenter">
                          <div class="tabcell">
                            Activo
                          </div>
                        </div>
                      </div>

                      <div class="tab-cbar bg-gray">
                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            <a class="linkdefs">787-777-1231&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                          </div>
                        </div>

                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            Nombre + Apellido 04
                          </div>
                        </div>

                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            Usuario
                          </div>
                        </div>

                        <div class="frwds vcenter">
                          <div class="tabcell">
                            Activo
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="basicrow visible-xs">
                    <div class="basicrow mbott-i">
                      <div id="myCarousel3" class="carousel slide" data-interval="false" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel3" data-slide-to="1"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <div class="basicrow">
                              <div class="tab-tbar">
                                <div class="frwds rline vcenter">
                                  <div class="tabcell">
                                    Suscriptor
                                  </div>
                                </div>

                                <div class="frwds vcenter">
                                  <div class="tabcell">
                                    Nombre y Apellido
                                  </div>
                                </div>
                              </div>

                              <div class="basicrow">
                                <div class="tab-cbar">
                                  <div class="frwds rline vcenter">
                                    <div class="tabcell">
                                      <a class="linkdefs">787-777-1231&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                  </div>

                                  <div class="frwds vcenter">
                                    <div class="tabcell">
                                      Nombre + Apellido 01
                                    </div>
                                  </div>
                                </div>

                                <div class="tab-cbar bg-gray">
                                  <div class="frwds rline vcenter">
                                    <div class="tabcell">
                                      <a class="linkdefs">787-777-1231&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                  </div>

                                  <div class="frwds vcenter">
                                    <div class="tabcell">
                                      Nombre + Apellido 02
                                    </div>
                                  </div>
                                </div>

                                <div class="tab-cbar">
                                  <div class="frwds rline vcenter">
                                    <div class="tabcell">
                                      <a class="linkdefs">787-777-1231&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                  </div>

                                  <div class="frwds vcenter">
                                    <div class="tabcell">
                                      Nombre + Apellido 03
                                    </div>
                                  </div>
                                </div>

                                <div class="tab-cbar bg-gray">
                                  <div class="frwds rline vcenter">
                                    <div class="tabcell">
                                      <a class="linkdefs">787-777-1231&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                  </div>

                                  <div class="frwds vcenter">
                                    <div class="tabcell">
                                      Nombre + Apellido 03
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="item">
                            <div class="basicrow">
                              <div class="tab-tbar">
                                <div class="frwds rline vcenter">
                                  <div class="tabcell">
                                    Perfil / Rol
                                  </div>
                                </div>

                                <div class="frwds vcenter">
                                  <div class="tabcell">
                                    Estatus
                                  </div>
                                </div>
                              </div>

                              <div class="basicrow">
                                <div class="tab-cbar">
                                  <div class="frwds rline vcenter">
                                    <div class="tabcell">
                                      Principal
                                    </div>
                                  </div>

                                  <div class="frwds vcenter">
                                    <div class="tabcell">
                                      Activo
                                    </div>
                                  </div>
                                </div>

                                <div class="tab-cbar bg-gray">
                                  <div class="frwds rline vcenter">
                                    <div class="tabcell">
                                      Administrador
                                    </div>
                                  </div>

                                  <div class="frwds vcenter">
                                    <div class="tabcell">
                                      Activo
                                    </div>
                                  </div>
                                </div>

                                <div class="tab-cbar">
                                  <div class="frwds rline vcenter">
                                    <div class="tabcell">
                                      Usuario
                                    </div>
                                  </div>

                                  <div class="frwds vcenter">
                                    <div class="tabcell">
                                      Activo
                                    </div>
                                  </div>
                                </div>

                                <div class="tab-cbar bg-gray">
                                  <div class="frwds rline vcenter">
                                    <div class="tabcell">
                                      Usuario
                                    </div>
                                  </div>

                                  <div class="frwds vcenter">
                                    <div class="tabcell">
                                      Activo
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="new-boxes">
            <div class="new-box hidden-xs hidden-sm">
              <div class="basicrow msidespad">
                <div class="b-title">
                  <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                    <div class="tabcell">
                      Perfil de Cuenta
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow msidespad m-bott-i f-reg f-black text-left">
                <div class="basicrow roboto-b">
                  COMPANY NAME
                </div>

                <div class="basicrow m-top-u">
                  <span class="roboto-b">Direcci&oacute;n Postal:</span> Ave. Ponce de Leon<br/>
                  Hato Rey AVE. PONCE DE LEON<br/>
                  Bayamon, 00956-4621
                </div>

                <div class="basicrow m-top-u">
                  <span class="roboto-b">Correo Electr&oacute;nico:</span> company@email.com
                </div>

                <div class="basicrow m-top-u">
                  <span class="roboto-b">Tel:</span> 787-771-5072, 787-771-5073
                </div>

                <div class="basicrow m-top-u">
                  <a class="linkdefs">Editar Perfil&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>

            <div class="new-box half m-top-i">
              <div class="basicrow msidespad">
                <div class="b-title">
                  <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                    <div class="tabcell">
                      Accesos R&aacute;pidos
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow msidespad m-bott-i text-left">
                <a class="boxlink"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Cambio de Plan</a>

                <a class="boxlink"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Compra de paquetes de data</a>

                <a class="boxlink"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Compra de paquetes de data roaming</a>

                <a class="boxlink noline"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Agregar servicios de valor agregado</a>
              </div>
            </div>

            <div class="new-box half m-top-i mleft">
              <div class="basicrow msidespad">
                <div class="b-title">
                  <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                    <div class="tabcell">
                      eBILL
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow msidespad m-bott-i f-reg f-black text-left">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 visible-md text-center" style="padding: 10px 0;">
                    <img class="green-fact" width="100%" src="../../assets/images/fact-dig.png">
                  </div>

                  <div class="col-xs-7 col-sm-7 col-md-12 col-lg-7">
                    <div class="basicrow f-gray-i">
													<span class="f-mini-i roboto-b">
														AYUDANDO A NUESTRO
													</span><br/>

                      <span class="f-semi-l roboto-l">
														AMBIENTE
													</span>
                    </div>

                    <div class="basicrow m-top-u">
                      <span class="roboto-b">Factura de servicio:</span>
                    </div>

                    <div class="basicrow m-top-u">
                      <input type="radio" name=""> Electr&oacute;nica
                    </div>

                    <div class="basicrow m-top-u-i">
                      <input type="radio" name=""> Correo Postal
                    </div>
                  </div>

                  <div class="col-xs-5 col-sm-5 col-md-12 col-lg-5 hidden-xs hidden-md text-center" style="padding: 0;">
                    <img class="basicrow" width="100%" src="../../assets/images/fact-dig.png">
                  </div>

                  <div class="col-xs-5 col-sm-5 col-md-12 col-lg-5 visible-xs text-center" style="padding: 0;">
                    <img class="green-fact" width="100%" src="../../assets/images/fact-dig.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
