<div id="wrapper">
  <div class="allcont">
    <app-header></app-header>

    <div class="basicrow mbott">
      <div class="container">
        <div class="fulltitle m-top-i f-btitle">
          <i class="fa fa-briefcase" aria-hidden="true"></i> Company Name
        </div>

        <div class="basicrow m-top">
          <div class="autowcont m-bott">
            <div class="basicrow msidespad">
              <div class="b-title noline">
                <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                  <div class="tabcell">
                    Historial de Pagos
                  </div>
                </div>
              </div>
            </div>

            <div class="basicrow">
              <div class="t-acc">
                <div class="tph-opts on">
                  <img class="tph-icon" width="100%" src="../../assets/images/tlf-m.png"> <input type="radio" checked> M&oacute;vil
                </div>

                <div class="tph-opts">
                  <img class="tph-icon" width="100%" src="../../assets/images/tlf-f.png"> <input type="radio"> Telefon&iacute;a Fija
                </div>
              </div>

              <div class="basicrow allpads">
                <div class="basicrow">
                  <div class="autorow subsc pull-left m-right">
                    <label class="label-r">N&uacute;mero de Cuenta</label>

                    <div class="basicrow">
                      <select class="sel-f">
                        <option>1727000000</option>
                      </select>
                    </div>
                  </div>

                  <div class="autorow pull-left f-reg m-top-i">
                    <i class="fa fa-calendar filtr-calendar" aria-hidden="true"></i>

                    <span class="f-gray-ii roboto-b">Enero 01, 2018 - Enero 23, 2018</span>
                  </div>
                </div>

                <div class="basicrow m-top-i text-justify">
                  Si su pago aparece en estado de <span class="roboto-b">iniciado</span> o <span class="roboto-b">procesado</span>, su pago est&aacute; siendo procesado por nuestro sistema e instituci&oacute;n bancaria. De su pago no ser procesado exitosamente por el banco o nuestro sistema, el mismo ser&aacute; eliminado de nuestro sistema autom&aacute;ticamente. Esta lista s&oacute;lo contiene pagos efectuados los &uacute;ltimos 13 meses.
                </div>
              </div>

              <div class="basicrow msidespad roboto-b f-black f-reg m-bott">
                <div class="basicrow topbord">
                  Factura Actual
                </div>
              </div>

              <div class="basicrow hidden-xs">
                <div class="tab-tbar">
                  <div class="frwds rline vcenter">
                    <div class="tabcell">
                      Fecha de Facturaci&oacute;n
                    </div>
                  </div>

                  <div class="frwds rline vcenter">
                    <div class="tabcell">
                      M&eacute;todo
                    </div>
                  </div>

                  <div class="frwds rline vcenter">
                    <div class="tabcell">
                      Status
                    </div>
                  </div>

                  <div class="frwds vcenter">
                    <div class="tabcell">
                      Cantidad
                    </div>
                  </div>
                </div>

                <div class="basicrow">
                  <div class="tab-cbar">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        -
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Iniciado
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar bg-gray">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Tarjeta de Cr&eacute;dito
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Iniciado
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        -
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Iniciado
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar bg-gray">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Tarjeta de Cr&eacute;dito
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Iniciado
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        -
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Iniciado
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar bg-gray">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Tarjeta de Cr&eacute;dito
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Iniciado
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        -
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Iniciado
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar bg-gray">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Tarjeta de Cr&eacute;dito
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Iniciado
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        -
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Iniciado
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar bg-gray">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Tarjeta de Cr&eacute;dito
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Iniciado
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        -
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Iniciado
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar bg-gray">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Tarjeta de Cr&eacute;dito
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Iniciado
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        -
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Iniciado
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar bg-gray">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Tarjeta de Cr&eacute;dito
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Iniciado
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        -
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Iniciado
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar bg-gray">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Tarjeta de Cr&eacute;dito
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        Iniciado
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow visible-xs">
                <div class="basicrow mbott-i">
                  <div id="myCarousel3" class="carousel slide" data-interval="false" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel3" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <div class="basicrow">
                          <div class="tab-tbar">
                            <div class="frwds rline vcenter">
                              <div class="tabcell">
                                Fecha de Facturaci&oacute;n
                              </div>
                            </div>

                            <div class="frwds vcenter">
                              <div class="tabcell">
                                M&eacute;todo
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  Tarjeta de Cr&eacute;dito
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  Tarjeta de Cr&eacute;dito
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  Tarjeta de Cr&eacute;dito
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  Tarjeta de Cr&eacute;dito
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  Tarjeta de Cr&eacute;dito
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  Tarjeta de Cr&eacute;dito
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  Tarjeta de Cr&eacute;dito
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  Tarjeta de Cr&eacute;dito
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  Tarjeta de Cr&eacute;dito
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  Tarjeta de Cr&eacute;dito
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  Tarjeta de Cr&eacute;dito
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  Tarjeta de Cr&eacute;dito
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  Tarjeta de Cr&eacute;dito
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  Tarjeta de Cr&eacute;dito
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  Tarjeta de Cr&eacute;dito
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  Tarjeta de Cr&eacute;dito
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="item">
                        <div class="basicrow">
                          <div class="tab-tbar">
                            <div class="frwds rline vcenter">
                              <div class="tabcell">
                                Status
                              </div>
                            </div>

                            <div class="frwds vcenter">
                              <div class="tabcell">
                                Cantidad
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Iniciado
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Iniciado
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Iniciado
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Iniciado
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Iniciado
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Iniciado
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Iniciado
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Iniciado
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Iniciado
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Iniciado
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Iniciado
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Iniciado
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Iniciado
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Iniciado
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Iniciado
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Iniciado
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow m-top m-bott text-center">
                <div class="autorow cntrpager">
                  <a class="tablepages off vcenter">
												<span class="tabcell">
													&lt;&lt;
												</span>
                  </a>

                  <a class="tablepages off vcenter">
												<span class="tabcell">
													&lt;
												</span>
                  </a>

                  <a class="tablepages on vcenter">
												<span class="tabcell">
													1
												</span>
                  </a>

                  <a class="tablepages vcenter">
												<span class="tabcell">
													2
												</span>
                  </a>

                  <a class="tablepages vcenter">
												<span class="tabcell">
													3
												</span>
                  </a>

                  <a class="tablepages vcenter">
												<span class="tabcell">
													&gt;
												</span>
                  </a>

                  <a class="tablepages vcenter">
												<span class="tabcell">
													&gt;&gt;
												</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
