<div id="wrapper">
  <div class="allcont">
    <app-header></app-header>

    <div class="basicrow mbott">
      <div class="container">
        <div class="fulltitle m-top-i f-btitle">
          <img width="100%" class="userimgicon" src="../../assets/images/usersvicon.png"> Usuarios y Permisos
        </div>

        <div class="autowcont m-top">
          <div class="basicrow msidespad">
            <div class="b-title">
              <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                <div class="tabcell">
                  Crear Usuarios
                </div>
              </div>
            </div>
          </div>

          <div class="basicrow msidespad">
            <a (click)="goTo('crearusuario')" class="boxlink-i"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Crear nuevo Administrador</a>

            <a (click)="goTo('crearusuario')" class="boxlink-i lpads noline"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Crear nuevo Usuario Mi Claro</a>
          </div>
        </div>

        <div class="basicrow">
          <div class="basicrow m-top-i">
            <div class="basicrow f-reg f-black text-justify">
              <div class="basicrow semititle">
                Usuarios Administrativos
              </div>

              <div class="basicrow m-top-u">
                Listado de usuarios, perfiles administrativos y usuarios Mi Claro.
              </div>
            </div>

            <div class="basicrow m-top-i">
              <div class="basicrow hidden-xs">
                <div class="boxtbl">
                  <div class="tab-tbar">
                    <div class="frwds frsthalf rline vcenter">
                      <div class="tabcell">
                        Nombre y Apellido
                      </div>
                    </div>

                    <div class="frwds frsthalf rline vcenter">
                      <div class="tabcell">
                        Usuario/Email
                      </div>
                    </div>

                    <div class="frwds scndhalfs rline vcenter">
                      <div class="tabcell">
                        Perfil
                      </div>
                    </div>

                    <div class="frwds scndhalfs rline vcenter">
                      <div class="tabcell">
                        Fecha Creado
                      </div>
                    </div>

                    <div class="frwds scndhalfs rline vcenter">
                      <div class="tabcell">
                        &Uacute;ltimo Logon
                      </div>
                    </div>

                    <div class="frwds scndhalfs vcenter">
                      <div class="tabcell">
                        Acciones
                      </div>
                    </div>
                  </div>

                  <div class="basicrow">
                    <div class="tab-cbar">
                      <div class="frwds frsthalf rline vcenter">
                        <div class="tabcell">
                          Nombre y Apellido
                        </div>
                      </div>

                      <div class="frwds frsthalf rline vcenter">
                        <div class="tabcell">
                          username@mail.com
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          Usuario Mi Claro
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          01/01/2015
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          02/02/2015
                        </div>
                      </div>

                      <div class="frwds scndhalfs vcenter">
                        <div class="tabcell">
                          <div  class="actbtn">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </div>

                          <div class="actbtn">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="tab-cbar bg-gray">
                      <div class="frwds frsthalf rline vcenter">
                        <div class="tabcell">
                          Nombre y Apellido
                        </div>
                      </div>

                      <div class="frwds frsthalf rline vcenter">
                        <div class="tabcell">
                          username@mail.com
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          Usuario Mi Claro
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          01/01/2015
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          02/02/2015
                        </div>
                      </div>

                      <div class="frwds scndhalfs vcenter">
                        <div class="tabcell">
                          <div  class="actbtn">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </div>

                          <div class="actbtn">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="tab-cbar">
                      <div class="frwds frsthalf rline vcenter">
                        <div class="tabcell">
                          Nombre y Apellido
                        </div>
                      </div>

                      <div class="frwds frsthalf rline vcenter">
                        <div class="tabcell">
                          username@mail.com
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          Usuario Mi Claro
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          01/01/2015
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          02/02/2015
                        </div>
                      </div>

                      <div class="frwds scndhalfs vcenter">
                        <div class="tabcell">
                          <div  class="actbtn">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </div>

                          <div class="actbtn">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow visible-xs">
                <div class="basicrow mbott-i">
                  <div id="myCarousel4" class="carousel slide" data-interval="false" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel4" data-slide-to="1"></li>
                      <li data-target="#myCarousel4" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <div class="boxtbl">
                          <div class="tab-tbar">
                            <div class="frwds rline vcenter">
                              <div class="tabcell">
                                Nombre y Apellido
                              </div>
                            </div>

                            <div class="frwds vcenter">
                              <div class="tabcell">
                                Usuario/Email
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Nombre y Apellido
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  username@mail.com
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Nombre y Apellido
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  username@mail.com
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Nombre y Apellido
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  username@mail.com
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="item">
                        <div class="boxtbl">
                          <div class="tab-tbar">
                            <div class="frwds rline vcenter">
                              <div class="tabcell">
                                Perfil
                              </div>
                            </div>

                            <div class="frwds vcenter">
                              <div class="tabcell">
                                Fecha Creado
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Usuario Mi Claro
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  01/01/2015
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Usuario Mi Claro
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  01/01/2015
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Usuario Mi Claro
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  01/01/2015
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="item">
                        <div class="boxtbl">
                          <div class="tab-tbar">
                            <div class="frwds rline vcenter">
                              <div class="tabcell">
                                &Uacute;ltimo Logon
                              </div>
                            </div>

                            <div class="frwds vcenter">
                              <div class="tabcell">
                                Acciones
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  02/02/2015
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div  class="actbtn">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </div>

                                  <div class="actbtn">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  02/02/2015
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div  class="actbtn">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </div>

                                  <div class="actbtn">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  02/02/2015
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div  class="actbtn">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </div>

                                  <div class="actbtn">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="basicrow m-top-i">
            <div class="basicrow f-reg f-black text-justify">
              <div class="basicrow semititle">
                Usuarios Mi Claro
              </div>

              <div class="basicrow m-top-u">
                Listado de usuarios con perfil de usuarios para acceso al portal Mi Claro Web y m&oacute;vil Apps. Estos usuarios solo podr&aacute;n ver informaci&oacute;n b&aacute;sica de su cuenta, tales como: equipo, plan y consumo.
              </div>
            </div>

            <div class="basicrow m-top-i">
              <div class="basicrow hidden-xs">
                <div class="boxtbl">
                  <div class="tab-tbar">
                    <div class="frwds frsthalf rline vcenter">
                      <div class="tabcell">
                        Nombre y Apellido
                      </div>
                    </div>

                    <div class="frwds frsthalf rline vcenter">
                      <div class="tabcell">
                        Usuario/Email
                      </div>
                    </div>

                    <div class="frwds scndhalfs rline vcenter">
                      <div class="tabcell">
                        Perfil
                      </div>
                    </div>

                    <div class="frwds scndhalfs rline vcenter">
                      <div class="tabcell">
                        Fecha Creado
                      </div>
                    </div>

                    <div class="frwds scndhalfs rline vcenter">
                      <div class="tabcell">
                        &Uacute;ltimo Logon
                      </div>
                    </div>

                    <div class="frwds scndhalfs vcenter">
                      <div class="tabcell">
                        Acciones
                      </div>
                    </div>
                  </div>

                  <div class="basicrow">
                    <div class="tab-cbar">
                      <div class="frwds frsthalf rline vcenter">
                        <div class="tabcell">
                          Nombre y Apellido
                        </div>
                      </div>

                      <div class="frwds frsthalf rline vcenter">
                        <div class="tabcell">
                          username@mail.com
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          Usuario Mi Claro
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          01/01/2015
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          02/02/2015
                        </div>
                      </div>

                      <div class="frwds scndhalfs vcenter">
                        <div class="tabcell">
                          <div  class="actbtn">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </div>

                          <div class="actbtn">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="tab-cbar bg-gray">
                      <div class="frwds frsthalf rline vcenter">
                        <div class="tabcell">
                          Nombre y Apellido
                        </div>
                      </div>

                      <div class="frwds frsthalf rline vcenter">
                        <div class="tabcell">
                          username@mail.com
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          Usuario Mi Claro
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          01/01/2015
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          02/02/2015
                        </div>
                      </div>

                      <div class="frwds scndhalfs vcenter">
                        <div class="tabcell">
                          <div  class="actbtn">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </div>

                          <div class="actbtn">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="tab-cbar">
                      <div class="frwds frsthalf rline vcenter">
                        <div class="tabcell">
                          Nombre y Apellido
                        </div>
                      </div>

                      <div class="frwds frsthalf rline vcenter">
                        <div class="tabcell">
                          username@mail.com
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          Usuario Mi Claro
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          01/01/2015
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          02/02/2015
                        </div>
                      </div>

                      <div class="frwds scndhalfs vcenter">
                        <div class="tabcell">
                          <div  class="actbtn">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </div>

                          <div class="actbtn">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="tab-cbar bg-gray">
                      <div class="frwds frsthalf rline vcenter">
                        <div class="tabcell">
                          Nombre y Apellido
                        </div>
                      </div>

                      <div class="frwds frsthalf rline vcenter">
                        <div class="tabcell">
                          username@mail.com
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          Usuario Mi Claro
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          01/01/2015
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          02/02/2015
                        </div>
                      </div>

                      <div class="frwds scndhalfs vcenter">
                        <div class="tabcell">
                          <div  class="actbtn">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </div>

                          <div class="actbtn">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="tab-cbar">
                      <div class="frwds frsthalf rline vcenter">
                        <div class="tabcell">
                          Nombre y Apellido
                        </div>
                      </div>

                      <div class="frwds frsthalf rline vcenter">
                        <div class="tabcell">
                          username@mail.com
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          Usuario Mi Claro
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          01/01/2015
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          02/02/2015
                        </div>
                      </div>

                      <div class="frwds scndhalfs vcenter">
                        <div class="tabcell">
                          <div  class="actbtn">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </div>

                          <div class="actbtn">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="tab-cbar bg-gray">
                      <div class="frwds frsthalf rline vcenter">
                        <div class="tabcell">
                          Nombre y Apellido
                        </div>
                      </div>

                      <div class="frwds frsthalf rline vcenter">
                        <div class="tabcell">
                          username@mail.com
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          Usuario Mi Claro
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          01/01/2015
                        </div>
                      </div>

                      <div class="frwds scndhalfs rline vcenter">
                        <div class="tabcell">
                          02/02/2015
                        </div>
                      </div>

                      <div class="frwds scndhalfs vcenter">
                        <div class="tabcell">
                          <div  class="actbtn">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </div>

                          <div class="actbtn">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow visible-xs">
                <div class="basicrow mbott-i">
                  <div id="myCarousel5" class="carousel slide" data-interval="false" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel5" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel5" data-slide-to="1"></li>
                      <li data-target="#myCarousel5" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <div class="boxtbl">
                          <div class="tab-tbar">
                            <div class="frwds rline vcenter">
                              <div class="tabcell">
                                Nombre y Apellido
                              </div>
                            </div>

                            <div class="frwds vcenter">
                              <div class="tabcell">
                                Usuario/Email
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Nombre y Apellido
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  username@mail.com
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Nombre y Apellido
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  username@mail.com
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Nombre y Apellido
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  username@mail.com
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Nombre y Apellido
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  username@mail.com
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Nombre y Apellido
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  username@mail.com
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Nombre y Apellido
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  username@mail.com
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="item">
                        <div class="boxtbl">
                          <div class="tab-tbar">
                            <div class="frwds rline vcenter">
                              <div class="tabcell">
                                Perfil
                              </div>
                            </div>

                            <div class="frwds vcenter">
                              <div class="tabcell">
                                Fecha Creado
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Usuario Mi Claro
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  01/01/2015
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Usuario Mi Claro
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  01/01/2015
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Usuario Mi Claro
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  01/01/2015
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Usuario Mi Claro
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  01/01/2015
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Usuario Mi Claro
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  01/01/2015
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  Usuario Mi Claro
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  01/01/2015
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="item">
                        <div class="boxtbl">
                          <div class="tab-tbar">
                            <div class="frwds rline vcenter">
                              <div class="tabcell">
                                &Uacute;ltimo Logon
                              </div>
                            </div>

                            <div class="frwds vcenter">
                              <div class="tabcell">
                                Acciones
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  02/02/2015
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div  class="actbtn">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </div>

                                  <div class="actbtn">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  02/02/2015
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div  class="actbtn">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </div>

                                  <div class="actbtn">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  02/02/2015
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div  class="actbtn">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </div>

                                  <div class="actbtn">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  02/02/2015
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div  class="actbtn">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </div>

                                  <div class="actbtn">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  02/02/2015
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div  class="actbtn">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </div>

                                  <div class="actbtn">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  02/02/2015
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div  class="actbtn">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </div>

                                  <div class="actbtn">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
