<div id="wrapper">
  <div class="allcont">
    <app-header></app-header>

    <div class="basicrow">
      <div class="basicrow graybg">
        <div class="container">
          <div class="fulltitle f-btitle">
            <i class="fa fa-briefcase" aria-hidden="true"></i> Company Name
          </div>

          <div class="basicrow m-top">
            <div class="basicrow">
              <div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators" style="display: none;">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="pyfcont">
                      <div class="basicrow msidespad">
                        <div class="b-title noline">
                          <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                            <div class="tabcell">
                              Pagos y Facturas
                            </div>
                          </div>

                          <div class="autocont f-mgray roboto-m f-mini pull-right vcenter">
                            <div class="tabcell">
                              1 de 49 cuentas
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="infolabel">
                        <div class="autorow full-c-i f-reg f-black roboto-r pull-left m-top-u">
                          <div class="tabcell">
                            N&uacute;mero de Cuenta BAN <span class="roboto-b">000000000</span>
                          </div>
                        </div>

                        <div class="autorow full-c-i f-reg f-black roboto-r pull-right m-top-u">
                          <div class="tabcell">
                            Fecha de factura <span class="roboto-b">09/19/2015</span>
                          </div>
                        </div>
                      </div>

                      <div class="basicrow">
                        <div class="basicrow msidespad roboto-r m-top mbott f-reg f-black">
                          <div class="device-i rpad">
                            <div class="row">
                              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="basicrow text-center f-black f-reg roboto-r">
                                  <div class="basicrow m-top-u">
                                    <span class="roboto-b">Cliente Claro desde</span><br/>
                                    <span class="roboto-b f-gray">
																				Sept 10 a Oct 09
																			</span>
                                  </div>

                                  <div class="basicrow m-top-ii">
                                    <img width="116" height="116" src="../../assets/images/quedandiasgraph.jpg">
                                  </div>
                                </div>
                              </div>

                              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="basicrow text-center f-black f-reg roboto-r">
                                  <div class="basicrow m-top-u">
																			<span class="roboto-b">
																				Su Factura Vence
																			</span><br>

                                    <span class="f-black f-big roboto-b">
																				Octubre, 09
																			</span>
                                  </div>

                                  <div class="basicrow m-top-u">
                                    Cliente Claro desde<br>
                                    <span class="roboto-b">
																				08/12/2013
																			</span>
                                  </div>

                                  <div class="basicrow m-top">
                                    <a class="linkdefs">Descargar Factura PDF&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                  </div>

                                  <div class="basicrow m-top-u">
                                    <a class="linkdefs">Descargar Factura CVS&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="basicrow m-top m-bott visible-xs">
                            <div class="logline full"></div>
                          </div>

                          <div class="device-i middle resumeanew">
                            <div class="basicrow roboto-r text-center f-reg">
                              <div class="basicrow m-top-u">
                                <span class="roboto-b">Balance Actual</span>
                              </div>

                              <div class="basicrow rel m-top-u">
                                <img data-toggle="popover" data-html="true" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." data-placement="left" class="q-t" width="100%" src="../../assets/images/tooltip1.png">

                                <input value="&#36;99.83" class="inp-f billmonto">
                              </div>

                              <div class="basicrow m-top">
                                <a class="btns bgray vcenter">
																		<span class="tabcell">
																			Pagar Factura&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																		</span>
                                </a>
                              </div>
                            </div>
                          </div>

                          <div class="basicrow m-top-i m-bott visible-xs">
                            <div class="logline full"></div>
                          </div>

                          <div class="device-i last roboto-r text-center">
                            <div class="basicrow roboto-b f-bmed">
                              <img class="nfact-e" width="100%" src="../../assets/images/fact-dig.png"> Factura Electr&oacute;nica
                            </div>

                            <div class="basicrow m-top">
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-11">
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                  <div class="factsw-text f-reg f-reg pull-left">
                                    <span class="roboto-b">Factura de Servicio</span><br/>
                                    Paperless
                                  </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                  <label class="switch dig-def-i pull-left">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                  </label>
                                </div>
                              </div>
                            </div>

                            <div class="basicrow m-top-u">
                              <div class="logline full"></div>
                            </div>

                            <div class="basicrow roboto-b m-top-u">
                              Correo electr&oacute;nico donde recibe las facturas:
                            </div>

                            <div class="basicrow">
                              <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
                                  <div class="basicrow m-top-u">
                                    <input class="inp-f mailchngdef" placeholder="user@gmail.com">

                                    <a class="mailchng-btn vcenter">
																				<span class="tabcell">
																					<i class="fa fa-pencil" aria-hidden="true"></i>
																				</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="item">
                    <div class="pyfcont">
                      <div class="basicrow msidespad">
                        <div class="b-title noline">
                          <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                            <div class="tabcell">
                              Pagos y Facturas
                            </div>
                          </div>

                          <div class="autocont f-mgray roboto-m f-mini pull-right vcenter">
                            <div class="tabcell">
                              1 de 49 cuentas
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="infolabel">
                        <div class="autorow full-c-i f-reg f-black roboto-r pull-left m-top-u">
                          <div class="tabcell">
                            N&uacute;mero de Cuenta BAN <span class="roboto-b">000000000</span>
                          </div>
                        </div>

                        <div class="autorow full-c-i f-reg f-black roboto-r pull-right m-top-u">
                          <div class="tabcell">
                            Fecha de factura <span class="roboto-b">09/19/2015</span>
                          </div>
                        </div>
                      </div>

                      <div class="basicrow">
                        <div class="basicrow msidespad roboto-r m-top mbott f-reg f-black">
                          <div class="device-i rpad">
                            <div class="row">
                              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="basicrow text-center f-black f-reg roboto-r">
                                  <div class="basicrow m-top-u">
                                    <span class="roboto-b">Cliente Claro desde</span><br/>
                                    <span class="roboto-b f-gray">
																				Sept 10 a Oct 09
																			</span>
                                  </div>

                                  <div class="basicrow m-top-ii">
                                    <img width="116" height="116" src="../../assets/images/quedandiasgraph.jpg">
                                  </div>
                                </div>
                              </div>

                              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="basicrow text-center f-black f-reg roboto-r">
                                  <div class="basicrow m-top-u">
																			<span class="roboto-b">
																				Su Factura Vence
																			</span><br>

                                    <span class="f-black f-big roboto-b">
																				Octubre, 09
																			</span>
                                  </div>

                                  <div class="basicrow m-top-u">
                                    Cliente Claro desde<br>
                                    <span class="roboto-b">
																				08/12/2013
																			</span>
                                  </div>

                                  <div class="basicrow m-top">
                                    <a class="linkdefs">Descargar Factura PDF&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                  </div>

                                  <div class="basicrow m-top-u">
                                    <a class="linkdefs">Descargar Factura CVS&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="basicrow m-top m-bott visible-xs">
                            <div class="logline full"></div>
                          </div>

                          <div class="device-i middle resumeanew">
                            <div class="basicrow roboto-r text-center f-reg">
                              <div class="basicrow m-top-u">
                                <span class="roboto-b">Balance Actual</span>
                              </div>

                              <div class="basicrow rel m-top-u">
                                <img data-toggle="popover" data-html="true" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." data-placement="left" class="q-t" width="100%" src="../../assets/images/tooltip1.png">

                                <input value="&#36;99.83" class="inp-f billmonto">
                              </div>

                              <div class="basicrow m-top">
                                <a class="btns bgray vcenter">
																		<span class="tabcell">
																			Pagar Factura&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																		</span>
                                </a>
                              </div>
                            </div>
                          </div>

                          <div class="basicrow m-top-i m-bott visible-xs">
                            <div class="logline full"></div>
                          </div>

                          <div class="device-i last roboto-r text-center">
                            <div class="basicrow roboto-b f-bmed">
                              <img class="nfact-e" width="100%" src="../../assets/images/fact-dig.png"> Factura Electr&oacute;nica
                            </div>

                            <div class="basicrow m-top">
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-11">
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                  <div class="factsw-text f-reg f-reg pull-left">
                                    <span class="roboto-b">Factura de Servicio</span><br/>
                                    Paperless
                                  </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                  <label class="switch dig-def-i pull-left">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                  </label>
                                </div>
                              </div>
                            </div>

                            <div class="basicrow m-top-u">
                              <div class="logline full"></div>
                            </div>

                            <div class="basicrow roboto-b m-top-u">
                              Correo electr&oacute;nico donde recibe las facturas:
                            </div>

                            <div class="basicrow">
                              <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
                                  <div class="basicrow m-top-u">
                                    <input class="inp-f mailchngdef" placeholder="user@gmail.com">

                                    <a class="mailchng-btn vcenter">
																				<span class="tabcell">
																					<i class="fa fa-pencil" aria-hidden="true"></i>
																				</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
									      <span class="glyphicon glyphicon-chevron-left">
									      	<i class="fa fa-angle-left" aria-hidden="true"></i>
									      </span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
									      <span class="glyphicon glyphicon-chevron-right">
									      	<i class="fa fa-angle-right" aria-hidden="true"></i>
									      </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="basicrow h-mbott">
      <div class="container">
        <div class="basicrow m-top-i">
          <div class="acc-susc">
            <div class="basicrow msidespad">
              <div class="b-title noline">
                <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                  <div class="tabcell">
                    Cuentas y suscriptores
                  </div>
                </div>
              </div>
            </div>

            <div class="t-acc">
              <div class="tph-opts on">
                <img class="tph-icon" width="100%" src="../../assets/images/tlf-m.png"> <input type="radio" checked> M&oacute;vil
              </div>

              <div class="tph-opts">
                <img class="tph-icon" width="100%" src="../../assets/images/tlf-f.png"> <input type="radio"> Telefon&iacute;a Fija
              </div>
            </div>

            <div class="basicrow allpads">
              <div class="autorow subsc pull-left">
                <label class="label-r">Filtro de Busqueda:</label>

                <a class="linkdefs pull-right c-fltr visible-xs">Limpiar filtro <i class="fa fa-trash" aria-hidden="true"></i></a>

                <div class="basicrow">
                  <select class="sel-f">
                    <option>N&uacute;mero de tel&eacute;fono</option>
                  </select>
                </div>
              </div>

              <div class="autorow srchacc m-left pull-left">
                <a class="linkdefs pull-right c-fltr hidden-xs">Limpiar filtro <i class="fa fa-trash" aria-hidden="true"></i></a>

                <div class="basicrow">
                  <input placeholder="Buscar..." class="inp-f">

                  <a class="btns red srch-i vcenter">
												<span class="tabcell">
													Buscar&nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i>
												</span>
                  </a>
                </div>
              </div>
            </div>

            <div class="basicrow msidespad f-black f-reg">
              <div class="basicrow topbord">
                Listado de cuentas y suscriptores asociados a su usuario:
              </div>
            </div>

            <div class="basicrow m-top">
              <div class="basicrow">
                <div data-toggle="collapse" data-target="#tab" class="digs-box vcenter">
                  <div class="tabcell">
                    <div class="autorow pull-left">
                      <span class="roboto-l">BAN</span> <span class="roboto-m">000000000</span>
                    </div>

                    <div class="autorow pull-right">
                      <i class="fa fa-minus" aria-hidden="true"></i>

                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>


                <div id="tab" class="collapse">
                  <div class="basicrow hidden-xs">
                    <div class="tab-tbar">
                      <div class="frwds rline vcenter">
                        <div class="tabcell">
                          Suscriptor
                        </div>
                      </div>

                      <div class="frwds rline vcenter">
                        <div class="tabcell">
                          Nombre y Apellido
                        </div>
                      </div>

                      <div class="frwds rline vcenter">
                        <div class="tabcell">
                          Perfil / Rol
                        </div>
                      </div>

                      <div class="frwds vcenter">
                        <div class="tabcell">
                          Estatus
                        </div>
                      </div>
                    </div>

                    <div class="basicrow">
                      <div class="tab-cbar">
                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            <a class="linkdefs">787-777-1231&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                          </div>
                        </div>

                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            Nombre + Apellido 01
                          </div>
                        </div>

                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            Principal
                          </div>
                        </div>

                        <div class="frwds vcenter">
                          <div class="tabcell">
                            Activo
                          </div>
                        </div>
                      </div>

                      <div class="tab-cbar bg-gray">
                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            <a class="linkdefs">787-777-1231&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                          </div>
                        </div>

                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            Nombre + Apellido 02
                          </div>
                        </div>

                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            Administrador
                          </div>
                        </div>

                        <div class="frwds vcenter">
                          <div class="tabcell">
                            Activo
                          </div>
                        </div>
                      </div>

                      <div class="tab-cbar">
                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            <a class="linkdefs">787-777-1231&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                          </div>
                        </div>

                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            Nombre + Apellido 03
                          </div>
                        </div>

                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            Usuario
                          </div>
                        </div>

                        <div class="frwds vcenter">
                          <div class="tabcell">
                            Activo
                          </div>
                        </div>
                      </div>

                      <div class="tab-cbar bg-gray">
                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            <a class="linkdefs">787-777-1231&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                          </div>
                        </div>

                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            Nombre + Apellido 04
                          </div>
                        </div>

                        <div class="frwds rline vcenter">
                          <div class="tabcell">
                            Usuario
                          </div>
                        </div>

                        <div class="frwds vcenter">
                          <div class="tabcell">
                            Activo
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="basicrow visible-xs">
                    <div class="basicrow mbott-i">
                      <div id="myCarousel3" class="carousel slide" data-interval="false" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel3" data-slide-to="1"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <div class="basicrow">
                              <div class="tab-tbar">
                                <div class="frwds rline vcenter">
                                  <div class="tabcell">
                                    Suscriptor
                                  </div>
                                </div>

                                <div class="frwds vcenter">
                                  <div class="tabcell">
                                    Nombre y Apellido
                                  </div>
                                </div>
                              </div>

                              <div class="basicrow">
                                <div class="tab-cbar">
                                  <div class="frwds rline vcenter">
                                    <div class="tabcell">
                                      <a class="linkdefs">787-777-1231&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                  </div>

                                  <div class="frwds vcenter">
                                    <div class="tabcell">
                                      Nombre + Apellido 01
                                    </div>
                                  </div>
                                </div>

                                <div class="tab-cbar bg-gray">
                                  <div class="frwds rline vcenter">
                                    <div class="tabcell">
                                      <a class="linkdefs">787-777-1231&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                  </div>

                                  <div class="frwds vcenter">
                                    <div class="tabcell">
                                      Nombre + Apellido 02
                                    </div>
                                  </div>
                                </div>

                                <div class="tab-cbar">
                                  <div class="frwds rline vcenter">
                                    <div class="tabcell">
                                      <a class="linkdefs">787-777-1231&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                  </div>

                                  <div class="frwds vcenter">
                                    <div class="tabcell">
                                      Nombre + Apellido 03
                                    </div>
                                  </div>
                                </div>

                                <div class="tab-cbar bg-gray">
                                  <div class="frwds rline vcenter">
                                    <div class="tabcell">
                                      <a class="linkdefs">787-777-1231&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                  </div>

                                  <div class="frwds vcenter">
                                    <div class="tabcell">
                                      Nombre + Apellido 03
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="item">
                            <div class="basicrow">
                              <div class="tab-tbar">
                                <div class="frwds rline vcenter">
                                  <div class="tabcell">
                                    Perfil / Rol
                                  </div>
                                </div>

                                <div class="frwds vcenter">
                                  <div class="tabcell">
                                    Estatus
                                  </div>
                                </div>
                              </div>

                              <div class="basicrow">
                                <div class="tab-cbar">
                                  <div class="frwds rline vcenter">
                                    <div class="tabcell">
                                      Principal
                                    </div>
                                  </div>

                                  <div class="frwds vcenter">
                                    <div class="tabcell">
                                      Activo
                                    </div>
                                  </div>
                                </div>

                                <div class="tab-cbar bg-gray">
                                  <div class="frwds rline vcenter">
                                    <div class="tabcell">
                                      Administrador
                                    </div>
                                  </div>

                                  <div class="frwds vcenter">
                                    <div class="tabcell">
                                      Activo
                                    </div>
                                  </div>
                                </div>

                                <div class="tab-cbar">
                                  <div class="frwds rline vcenter">
                                    <div class="tabcell">
                                      Usuario
                                    </div>
                                  </div>

                                  <div class="frwds vcenter">
                                    <div class="tabcell">
                                      Activo
                                    </div>
                                  </div>
                                </div>

                                <div class="tab-cbar bg-gray">
                                  <div class="frwds rline vcenter">
                                    <div class="tabcell">
                                      Usuario
                                    </div>
                                  </div>

                                  <div class="frwds vcenter">
                                    <div class="tabcell">
                                      Activo
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="new-boxes hidden-xs hidden-sm">
            <div class="xtradts suprt mbott">
              <div class="basicrow msidespad">
                <div class="b-title">
                  <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                    <div class="tabcell">
                      Soporte
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow msidespad">
                <a class="btns bgray vcenter">
												<span class="tabcell">
													Ir&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
												</span>
                </a>
              </div>
            </div>
            <div class="new-box">
              <div class="basicrow msidespad">
                <div class="b-title noline">
                  <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                    <div class="tabcell">
                      Nuevo
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow">
                <img width="100%" class="basicrow" src="../../assets/images/clarocloudban.png">
              </div>

              <div class="basicrow allpads f-reg f-black text-justify">
                Cloud Computing o Computaci&oacute;n en la nube, es un conjunto de soluciones almacenadas en centros de datos, disponibles como servicio. Usted puede tener acceso a ellos a trav&eacute;s de cualquier dispositivo con conexi&oacute;n a internet desde su oficina, casa o en cualquier lugar.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="basicrow m-top-i hidden-xs hidden-sm">
      <div class="basicrow graybg">
        <div class="container">
          <div class="basicrow">
            <div id="myCarousel2" class="carousel slide" data-interval="false" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators" style="display: none;">
                <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel2" data-slide-to="1"></li>
                <li data-target="#myCarousel2" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="basicrow">
                    <div class="row">
                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="lastr-opts">
                          <div class="basicrow msidespad">
                            <div class="b-title noline">
                              <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                <div class="tabcell">
                                  Arma tu Negocio
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <img width="100%" class="basicrow" src="../../assets/images/lopt-i.jpg">
                          </div>

                          <div class="basicrow f-reg f-black text-justify">
                            <div class="lopts-txts">
                              En Claro encontraras todos los servicios que necesitas para progresar.
                            </div>

                            <a class="btns bgray vcenter">
																<span class="tabcell">
																	Ver detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																</span>
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="lastr-opts">
                          <div class="basicrow msidespad">
                            <div class="b-title noline">
                              <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                <div class="tabcell">
                                  Telefon&iacute;a
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <img width="100%" class="basicrow" src="../../assets/images/lopt-ii.jpg">
                          </div>

                          <div class="basicrow f-reg f-black text-justify">
                            <div class="lopts-txts">
                              Los servicios de telefon&iacute;a que necesitas para tu negocio.
                            </div>

                            <a class="btns bgray vcenter">
																<span class="tabcell">
																	Ver detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																</span>
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="lastr-opts">
                          <div class="basicrow msidespad">
                            <div class="b-title noline">
                              <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                <div class="tabcell">
                                  Office 365
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <img width="100%" class="basicrow" src="../../assets/images/lopt-iii.jpg">
                          </div>

                          <div class="basicrow f-reg f-black text-justify">
                            <div class="lopts-txts">
                              El servicio Microsoft Office 365 es un servicio de Microsoft Office 365 es un servicio de Microsoft que podra contratarse a trav&eacute;s de CLARO, permite a los clientes/usuarios acceder a correo electr&oacute;nico.
                            </div>


                            <a class="btns bgray vcenter">
																<span class="tabcell">
																	Ver detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																</span>
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="lastr-opts">
                          <div class="basicrow msidespad">
                            <div class="b-title noline">
                              <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                <div class="tabcell">
                                  Servidores Virtuales
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <img width="100%" class="basicrow" src="../../assets/images/lopt-iv.jpg">
                          </div>

                          <div class="basicrow f-reg f-black text-justify">
                            <div class="lopts-txts">
                              Tu empresa evoluciona constantemente y requiere de las prestaciones de servidores dedicados, sin incurrir en altos costos.
                            </div>

                            <a class="btns bgray vcenter">
																<span class="tabcell">
																	Ver detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="basicrow">
                    <div class="row">
                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="lastr-opts">
                          <div class="basicrow msidespad">
                            <div class="b-title noline">
                              <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                <div class="tabcell">
                                  Arma tu Negocio
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <img width="100%" class="basicrow" src="../../assets/images/lopt-i.jpg">
                          </div>

                          <div class="basicrow f-reg f-black text-justify">
                            <div class="lopts-txts">
                              En Claro encontraras todos los servicios que necesitas para progresar.
                            </div>

                            <a class="btns bgray vcenter">
																<span class="tabcell">
																	Ver detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																</span>
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="lastr-opts">
                          <div class="basicrow msidespad">
                            <div class="b-title noline">
                              <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                <div class="tabcell">
                                  Telefon&iacute;a
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <img width="100%" class="basicrow" src="../../assets/images/lopt-ii.jpg">
                          </div>

                          <div class="basicrow f-reg f-black text-justify">
                            <div class="lopts-txts">
                              Los servicios de telefon&iacute;a que necesitas para tu negocio.
                            </div>

                            <a class="btns bgray vcenter">
																<span class="tabcell">
																	Ver detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																</span>
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="lastr-opts">
                          <div class="basicrow msidespad">
                            <div class="b-title noline">
                              <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                <div class="tabcell">
                                  Office 365
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <img width="100%" class="basicrow" src="../../assets/images/lopt-iii.jpg">
                          </div>

                          <div class="basicrow f-reg f-black text-justify">
                            <div class="lopts-txts">
                              El servicio Microsoft Office 365 es un servicio de Microsoft Office 365 es un servicio de Microsoft que podra contratarse a trav&eacute;s de CLARO, permite a los clientes/usuarios acceder a correo electr&oacute;nico.
                            </div>


                            <a class="btns bgray vcenter">
																<span class="tabcell">
																	Ver detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																</span>
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="lastr-opts">
                          <div class="basicrow msidespad">
                            <div class="b-title noline">
                              <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                <div class="tabcell">
                                  Servidores Virtuales
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <img width="100%" class="basicrow" src="../../assets/images/lopt-iv.jpg">
                          </div>

                          <div class="basicrow f-reg f-black text-justify">
                            <div class="lopts-txts">
                              Tu empresa evoluciona constantemente y requiere de las prestaciones de servidores dedicados, sin incurrir en altos costos.
                            </div>

                            <a class="btns bgray vcenter">
																<span class="tabcell">
																	Ver detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="basicrow">
                    <div class="row">
                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="lastr-opts">
                          <div class="basicrow msidespad">
                            <div class="b-title noline">
                              <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                <div class="tabcell">
                                  Arma tu Negocio
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <img width="100%" class="basicrow" src="../../assets/images/lopt-i.jpg">
                          </div>

                          <div class="basicrow f-reg f-black text-justify">
                            <div class="lopts-txts">
                              En Claro encontraras todos los servicios que necesitas para progresar.
                            </div>

                            <a class="btns bgray vcenter">
																<span class="tabcell">
																	Ver detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																</span>
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="lastr-opts">
                          <div class="basicrow msidespad">
                            <div class="b-title noline">
                              <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                <div class="tabcell">
                                  Telefon&iacute;a
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <img width="100%" class="basicrow" src="../../assets/images/lopt-ii.jpg">
                          </div>

                          <div class="basicrow f-reg f-black text-justify">
                            <div class="lopts-txts">
                              Los servicios de telefon&iacute;a que necesitas para tu negocio.
                            </div>

                            <a class="btns bgray vcenter">
																<span class="tabcell">
																	Ver detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																</span>
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="lastr-opts">
                          <div class="basicrow msidespad">
                            <div class="b-title noline">
                              <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                <div class="tabcell">
                                  Office 365
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <img width="100%" class="basicrow" src="../../assets/images/lopt-iii.jpg">
                          </div>

                          <div class="basicrow f-reg f-black text-justify">
                            <div class="lopts-txts">
                              El servicio Microsoft Office 365 es un servicio de Microsoft Office 365 es un servicio de Microsoft que podra contratarse a trav&eacute;s de CLARO, permite a los clientes/usuarios acceder a correo electr&oacute;nico.
                            </div>


                            <a class="btns bgray vcenter">
																<span class="tabcell">
																	Ver detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																</span>
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="lastr-opts">
                          <div class="basicrow msidespad">
                            <div class="b-title noline">
                              <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                <div class="tabcell">
                                  Servidores Virtuales
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <img width="100%" class="basicrow" src="../../assets/images/lopt-iv.jpg">
                          </div>

                          <div class="basicrow f-reg f-black text-justify">
                            <div class="lopts-txts">
                              Tu empresa evoluciona constantemente y requiere de las prestaciones de servidores dedicados, sin incurrir en altos costos.
                            </div>

                            <a class="btns bgray vcenter">
																<span class="tabcell">
																	Ver detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
								      <span class="glyphicon glyphicon-chevron-left">
								      	<i class="fa fa-angle-left" aria-hidden="true"></i>
								      </span>
              </a>
              <a class="right carousel-control ndef" href="#myCarousel2" data-slide="next">
								      <span class="glyphicon glyphicon-chevron-right">
								      	<i class="fa fa-angle-right" aria-hidden="true"></i>
								      </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
