<div id="wrapper">
  <div class="allcont">
    <app-header></app-header>

    <div class="basicrow mbott">
      <div class="container">
        <div class="fulltitle m-top-i f-btitle">
          <i class="fa fa-briefcase" aria-hidden="true"></i> Company Name
        </div>

        <div class="basicrow m-top">
          <div class="autowcont m-bott">
            <div class="basicrow msidespad">
              <div class="b-title noline">
                <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                  <div class="tabcell">
                    Descarga Tu Factura
                  </div>
                </div>
              </div>
            </div>

            <div class="basicrow">
              <div class="t-acc">
                <div class="tph-opts on">
                  <img class="tph-icon" width="100%" src="../../assets/images/tlf-m.png"> <input type="radio" checked> M&oacute;vil
                </div>

                <div class="tph-opts">
                  <img class="tph-icon" width="100%" src="../../assets/images/tlf-f.png"> <input type="radio"> Telefon&iacute;a Fija
                </div>
              </div>

              <div class="basicrow allpads">
                <div class="basicrow">
                  <div class="autorow subsc pull-left">
                    <label class="label-r">N&uacute;mero de Cuenta</label>

                    <div class="basicrow">
                      <select class="sel-f">
                        <option>1727000000</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow msidespad roboto-b f-black f-reg m-bott">
                <div class="basicrow topbord">
                  Factura Actual
                </div>
              </div>

              <div class="basicrow hidden-xs">
                <div class="tab-tbar">
                  <div class="frwds rline vcenter">
                    <div class="tabcell">
                      Fecha de Facturaci&oacute;n
                    </div>
                  </div>

                  <div class="frwds rline vcenter">
                    <div class="tabcell">
                      Vencimiento
                    </div>
                  </div>

                  <div class="frwds rline vcenter">
                    <div class="tabcell">
                      Cantidad
                    </div>
                  </div>

                  <div class="frwds vcenter">
                    <div class="tabcell">
                      Ver Como
                    </div>
                  </div>
                </div>

                <div class="basicrow">
                  <div class="tab-cbar">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        11/07/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        <div class="actbtn">
                          <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar bg-gray">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        11/07/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        <div class="actbtn">
                          <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        11/07/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        <div class="actbtn">
                          <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar bg-gray">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        11/07/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        <div class="actbtn">
                          <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        11/07/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        <div class="actbtn">
                          <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar bg-gray">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        11/07/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        <div class="actbtn">
                          <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        11/07/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        <div class="actbtn">
                          <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar bg-gray">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        11/07/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        <div class="actbtn">
                          <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        11/07/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        <div class="actbtn">
                          <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar bg-gray">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        11/07/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        <div class="actbtn">
                          <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        11/07/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        <div class="actbtn">
                          <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-cbar bg-gray">
                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        10/01/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        11/07/2018
                      </div>
                    </div>

                    <div class="frwds rline vcenter">
                      <div class="tabcell">
                        &#36;339.93
                      </div>
                    </div>

                    <div class="frwds vcenter">
                      <div class="tabcell">
                        <div class="actbtn">
                          <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow visible-xs">
                <div class="basicrow mbott-i">
                  <div id="myCarousel3" class="carousel slide" data-interval="false" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel3" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <div class="basicrow">
                          <div class="tab-tbar">
                            <div class="frwds rline vcenter">
                              <div class="tabcell">
                                Fecha de Facturaci&oacute;n
                              </div>
                            </div>

                            <div class="frwds vcenter">
                              <div class="tabcell">
                                Vencimiento
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  11/07/2018
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  11/07/2018
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  11/07/2018
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  11/07/2018
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  11/07/2018
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  11/07/2018
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  11/07/2018
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  11/07/2018
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  11/07/2018
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  11/07/2018
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  11/07/2018
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  10/01/2018
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  11/07/2018
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="item">
                        <div class="basicrow">
                          <div class="tab-tbar">
                            <div class="frwds rline vcenter">
                              <div class="tabcell">
                                Cantidad
                              </div>
                            </div>

                            <div class="frwds vcenter">
                              <div class="tabcell">
                                Ver Como
                              </div>
                            </div>
                          </div>

                          <div class="basicrow">
                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div class="actbtn">
                                    <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div class="actbtn">
                                    <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div class="actbtn">
                                    <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div class="actbtn">
                                    <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div class="actbtn">
                                    <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div class="actbtn">
                                    <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div class="actbtn">
                                    <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div class="actbtn">
                                    <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div class="actbtn">
                                    <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div class="actbtn">
                                    <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div class="actbtn">
                                    <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="tab-cbar bg-gray">
                              <div class="frwds rline vcenter">
                                <div class="tabcell">
                                  &#36;339.93
                                </div>
                              </div>

                              <div class="frwds vcenter">
                                <div class="tabcell">
                                  <div class="actbtn">
                                    <i data-toggle="popover" data-html="true" data-content="PDF" data-placement="top" data-trigger="hover" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="basicrow m-top-u allpads bordsdef f-reg roboto-r f-black text-justify">
            <span class="roboto-b">Servicio al Cliente</span><br/><br/>
            Escr&iacute;banos por nuestro Chat para recibir asesor&iacute;a inmediata. Individual: <span class="roboto-b">787-775-0000</span> &oacute; marcando <span class="roboto-b">&#42;611</span> desde tu tel&eacute;fono celular.
          </div>

          <div class="basicrow m-top-i bg-gray allpads bg-gray-u f-reg roboto-r f-black text-justify">
            <span class="roboto-b">Hist&oacute;rico de facturas</span><br/><br/>
            El hist&oacute;rico de facturas le permite ver hasta sus &uacute;ltimas trece (13) facturas. Para revisarlas s&oacute;lo se necesita seleccionar el formato en que desea ver la factura bajo la columna <span class="roboto-b">Ver Como</span> y oprimir el bot&oacute;n. Cabe se&ntilde;alar que s&oacute;lo se desplegar&aacute;n las primeras quinientas (500) p&aacute;ginas de la factura, cuando aplique. Si desea revisar la factura completa, debe comunicarse con <a class="linkdefs">Servicio al Cliente.</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
